In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data_dir = r"./../data/raw"

files = os.listdir(data_dir)
files = [f for f in files if f != "placeholder"]
print(files)

['application_test.csv', 'application_train.csv', '.~lock.bureau.csv#', 'POS_CASH_balance.csv', 'installments_payments.csv', 'bureau.csv', 'bureau_balance.csv', 'previous_application.csv', 'HomeCredit_columns_description.csv', 'credit_card_balance.csv', 'sample_submission.csv']

In [3]:
file_name = 'installments_payments.csv'
Ins_Pay = pd.read_csv(os.path.join(data_dir, file_name))

In [4]:
Ins_Pay.isna().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
NUM_INSTALMENT_NUMBER        0
DAYS_INSTALMENT              0
DAYS_ENTRY_PAYMENT        2905
AMT_INSTALMENT               0
AMT_PAYMENT               2905
dtype: int64

In [5]:
Ins_Pay.head(50)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470
10,1782554,106597,1.0,3,-933.0,-937.0,34620.525,34620.525
11,2558880,154793,1.0,8,-1262.0,-1269.0,15031.080,15031.080
12,1570206,147645,0.0,20,-761.0,-761.0,21.510,21.510
13,1723268,197273,1.0,14,-755.0,-800.0,6093.990,6093.990
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.860,301.860
15,1456258,118323,1.0,6,-2619.0,-2619.0,4844.925,4844.925
16,1053286,170192,1.0,7,-500.0,-503.0,6882.840,6882.840
17,1410565,197687,1.0,1,-1037.0,-1048.0,12514.050,12510.450
18,2391610,183431,0.0,20,-1680.0,-1693.0,7875.000,7875.000
19,2329072,183463,1.0,11,-1699.0,-1693.0,7283.295,7283.295
20,1354314,196570,1.0,14,-361.0,-365.0,15219.000,15219.000
21,2260765,106012,3.0,23,-56.0,-59.0,13494.915,13494.915
22,1995642,134723,1.0,38,-1277.0,-1282.0,12949.200,12949.200
23,2631836,140337,0.0,116,-322.0,-322.0,560.880,560.880
24,2702769,102122,1.0,1,-281.0,-286.0,5178.195,5178.195
25,1770345,128334,1.0,5,-240.0,-255.0,10649.925,10649.925
26,1818333,191655,1.0,6,-345.0,-356.0,16479.270,16479.270
27,1991673,162903,0.0,46,-2548.0,-2561.0,5400.000,5400.000
28,1184783,140804,0.0,106,-155.0,-155.0,503.460,503.460
29,1181315,174565,1.0,7,-1894.0,-1895.0,16274.790,16274.790
30,1840786,175114,1.0,11,-476.0,-474.0,21179.700,21161.700
31,1618622,128303,1.0,5,-2807.0,-2807.0,6523.425,6523.425
32,1720935,176364,1.0,9,-354.0,-356.0,61192.530,61192.530
33,2039177,190995,1.0,5,-1145.0,-1172.0,6966.090,6966.090
34,2671380,111601,1.0,7,-540.0,-548.0,8109.765,8109.765
35,1003606,188637,0.0,105,-174.0,-174.0,110.655,110.655
36,2553780,161066,1.0,3,-162.0,-190.0,11529.630,11529.630
37,1439208,154898,1.0,20,-181.0,-185.0,8851.230,8851.230
38,2717177,149207,0.0,88,-1219.0,-1219.0,741.960,741.960
39,1133724,146582,1.0,6,-316.0,-332.0,17115.570,17115.570
40,2270983,159586,0.0,30,-2022.0,-2046.0,9000.000,1800.000
41,1640082,172575,1.0,4,-827.0,-832.0,8720.280,8720.280
42,1434401,173001,5.0,5,-211.0,-217.0,4802.130,4802.130
43,1682661,179939,1.0,9,-1852.0,-1860.0,3456.675,3456.675
44,2150006,191981,1.0,3,-2060.0,-2068.0,15987.960,15987.960
45,1644499,111587,1.0,8,-2116.0,-2101.0,3078.810,3078.810
46,1846594,186032,1.0,6,-810.0,-810.0,7389.090,7389.090
47,1895324,131465,1.0,6,-1386.0,-1379.0,3229.065,3212.865
48,2411245,153352,1.0,1,-2588.0,-2555.0,3294.900,650.520
49,1949985,157527,1.0,5,-186.0,-190.0,8533.485,8533.485

In [6]:
Ins_Pay[Ins_Pay['DAYS_ENTRY_PAYMENT'].isna()]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
3764207,1531600,103793,1.0,7,-668.0,NaN,49741.020,NaN
3764208,1947105,159974,1.0,24,-36.0,NaN,22849.515,NaN
3764209,1843773,167270,1.0,22,-20.0,NaN,48092.355,NaN
3764210,1691592,192536,1.0,5,-2561.0,NaN,7675.425,NaN
3764211,1531299,157088,0.0,11,-1847.0,NaN,67.500,NaN
...,...,...,...,...,...,...,...,...
13605396,2186857,428057,0.0,66,-1624.0,NaN,67.500,NaN
13605397,1310347,414406,0.0,47,-1539.0,NaN,67.500,NaN
13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN
13605399,1062206,409297,0.0,43,-1986.0,NaN,67.500,NaN
13605400,2448869,434321,1.0,19,-27.0,NaN,11504.250,NaN

In [9]:
Ins_Pay['payment_time_delay'] = Ins_Pay['DAYS_ENTRY_PAYMENT'] - Ins_Pay['DAYS_INSTALMENT']
Ins_Pay.loc[Ins_Pay['payment_time_delay'] < 0,'payment_time_delay' ] = 0
Ins_Pay.head(10)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,payment_time_delay
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360,0.0
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525,0.0
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000,0.0
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130,0.0
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585,17.0
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375,0.0
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295,0.0
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165,0.0
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740,0.0
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470,0.0

In [11]:
Ins_Pay['payment_amount_diff'] = Ins_Pay['AMT_PAYMENT'] - Ins_Pay['AMT_INSTALMENT']
Ins_Pay

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,payment_time_delay,payment_amount_diff
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360,0.0,0.000
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525,0.0,0.000
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000,0.0,0.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130,0.0,0.000
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585,17.0,-4.455
...,...,...,...,...,...,...,...,...,...,...
13605396,2186857,428057,0.0,66,-1624.0,NaN,67.500,NaN,NaN,NaN
13605397,1310347,414406,0.0,47,-1539.0,NaN,67.500,NaN,NaN,NaN
13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN,NaN,NaN
13605399,1062206,409297,0.0,43,-1986.0,NaN,67.500,NaN,NaN,NaN
13605400,2448869,434321,1.0,19,-27.0,NaN,11504.250,NaN,NaN,NaN

In [ ]:
#